
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="user-profile">
        <div class="user-image">
            <img src="~/image/burger.png">
        </div>
        <div class="user-name">
            EatWell Burger
        </div>
        <div class="user-designation">
           Admin Paneli
        </div>
    </div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Dashboard/Index/">
                <i class="icon-box menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Category/CategoryList/">
                <i class="icon-file menu-icon"></i>
                <span class="menu-title">Kategoriler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Product/ProductList/">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Ürünler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Reservation/ReservationList/">
                <i class="icon-ribbon menu-icon"></i>
                <span class="menu-title">Rezervasyonlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Message/InBox/">
                <i class="icon-mail menu-icon"></i>
                <span class="menu-title">Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/About/Index/">
                <i class="icon-heart menu-icon"></i>
                <span class="menu-title">Hakkımızda</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Contact/InBox/">
                <i class="icon-head menu-icon"></i>
                <span class="menu-title">Referanslar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Statistics/Index/">
                <i class="icon-bar-graph menu-icon"></i>
                <span class="menu-title">İstatistikler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Chart/ProductChart/">
                <i class="icon-pie-graph menu-icon"></i>
                <span class="menu-title">Grafikler</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Admin/Kart/Index/">
                <i class="icon-signal menu-icon"></i>
                <span class="menu-title">Kredi Kartı</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../pages/icons/feather-icons.html">
                <i class="icon-cog menu-icon"></i>
                <span class="menu-title">Ayarlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Login/Index/">
                <i class="icon-power menu-icon"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>

<style>
    .sidebar {
        width: 240px; /* Genişliği burada ayarlayın */
        background: linear-gradient(to bottom,#6ce9da, #360267);
        color: #ffffff; /* Yazı rengi */
        overflow-x: hidden; /* Yatay kaydırmayı engelle */
    }
</style>
